/* @import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap); */
@import "tailwindcss";

html {
  font-size: 62.5%;
}
@theme {
  --color-head-text: #333333;
  --color-purple-hover: #4647ae;
  --color-purple: #38398b;
  --color-nav-bg-color: #e6e6e6;
  --color-button: #373737;
  --color-p-tag: #666666;
  --color-nav-color: #ffffff80;
  --color-date-color: #999999;
  --color-hover-color: #3639da;
  --color-footer-p-color: #bbbbbb;
  --color-footer-color: #150e06;
  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --breakpoint-tablet: 30rem;
  --breakpoint-laptop: 64rem;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  button {
    padding: 1.2rem 4.2rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    background-color: var(--color-purple);
    color: white;
    font-family: var(--font-raleway);
    transition: all 0.3s;
  }
  button:hover {
    cursor: pointer;
    background-color: var(--color-purple-hover);
  }
  h1,
  h2,
  h3 {
    font-weight: bold;
  }
  h2 {
    color: var(--color-head-text);
  }

  h3 {
    color: var(--color-head-text);
    margin-bottom: 1.2rem;
  }
}

@layer components {
  .custom-container {
    max-width: 1440px;
    @apply w-full mx-auto px-[2rem] tablet:px-[4rem] laptop:px-[8rem];
  }
  .tablet-padding {
    @apply px-[4rem];
  }
  .laptop-padding {
    @apply px-[8rem];
  }
  .custom-p-font-size {
    @apply text-[1.6rem] mb-[1.9rem] text-p-tag font-roboto;
  }
  .custom-head-text-size {
    @apply text-[1.2rem] mb-[1.2rem] font-roboto;
  }
  .custom-img-margin {
    @apply mb-[2.4rem];
  }
  .custom-read-more-style {
    @apply text-purple text-[1.4rem] font-roboto;
  }
  .page--active {
    display: block;
    transition: all 0.3s;
  }
  .page--inactive {
    display: none;
  }
  .section--hidden {
    opacity: 0;
  }
  .sticky {
    position: fixed;
  }
  .custom-flex {
    @apply flex justify-between align-middle
  }
  .custom-img-style {
    width: 100%;
    aspect-ratio: 4 / 2;
    object-fit: cover;
    border-radius: 1rem;
  }
  .custom-img-desc-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .custom-img-desc-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
